@media screen and (min-width: 992px)
{
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--col-secondario);
        padding: var(--padding-thin);
        font-family: var(--font-text-regular);
    }

    footer img{
        height: calc(3 * var(--dimentions-thin));
    }

    footer h2{
        font-size: 150%;
        font-family: var(--font-text-bold);
    }
    footer a{
        text-decoration: underline;
    }
}