@media screen and (min-width: 992px)
{   
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        background-color: var(--col-sfondo);
        position: sticky;
        top: 0;
        left: 0;
        padding: calc(2 * var(--dimentions-thin));
        z-index: 1000;
    }

    header section{
        width: 60%;
        background-color: var(--col-principale);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: calc(3.1*var(--dimentions-thin));
        height: calc(2*var(--dimentions-thin));
        border-radius: var(--dimentions-thin);
    }

    header section a{
        font-family: var(--font-titles-black);
        text-transform: uppercase;
        color: var(--col-sfondo);
        width: calc(10 * var(--dimentions-thin));
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100%;
        height: 100%;
        padding-left: var(--padding-thin);
        padding-right: var(--padding-thin);
        border-radius: var(--dimentions-thin);
    }

    

    header section a:hover{
        background-color: var(--col-secondario);
    }

    header a{
        color: inherit;
        text-decoration: none;
    }

    header img{
        transform: scale(1.6);
        position: relative;
    }
}
