*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
    cursor: default;
}

a{cursor: pointer;}

:root{
    --col-sfondo : #fefefe;
    --col-principale : #36a9e1; /*rgb(54, 169, 225)*/;
    --col-secondario : #1371be; /*rgb(19, 113, 190)*/;
    --col-default : #000000;

    --font-titles : "Avenir";
    --font-titles-black : "Avenir Black";
    --font-titles-roman : "Avenir Roman";
    --font-text-light : "Roboto Thin";
    --font-text-regular : "Roboto";
    --font-text-bold : "Roboto Bold";

    --padding-thin : 1vw;
    --padding-regular: 5vw;
    --padding-large : 10vw;

    --dimentions-thin : 1vw;
    --dimentions-regular: 5vw;
    --dimentions-large : 10vw;
}



@font-face {
    font-family: "Avenir";
    src: url(../font/Avenir-Font/avenir_ff/AvenirLTStd-Book.otf);
}
@font-face {
    font-family: "Avenir Black";
    src: url(../font/Avenir-Font/avenir_ff/AvenirLTStd-Black.otf);
}
@font-face {
    font-family: "Avenir Roman";
    src: url(../font/Avenir-Font/avenir_ff/AvenirLTStd-Roman.otf);
}

@font-face {
    font-family: "Roboto Thin";
    src: url(../font/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto Bold";
    src: url(../font/Roboto/Roboto-Bold.ttf);
}
